/* Title */
.head--title {
    height: 30vh;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card item product */
.card--product {
    display: flex;
    justify-content: center;
}
.card--product .card {
    width: 18rem;
    margin-bottom: 20px;
}
.card--product .card:hover {
    box-shadow: 5px 10px 20px #C4C4C4;
    transition: all 0.7s linear;
}
.card--product img {
    height: 40vh;
}
.card--product img:hover {
    transform: scale(1.4);
    transition: all 0.4s ease-in-out;
}
.card--product .overflow {
    overflow: hidden;
}