/* CART */
.cart--btn {
    border: none;
    background: none;
    margin-left: 5px;
}
.cart--counter {
    background-color: #C4C4C4;
    border-radius: 50%;
    font-size: 18px;
    padding: 0px 4px;
    position: relative;
    right: 10px;
    bottom: 5px;
}

/* IMG slide */
.slide__bar--container {
    background-image: url('../../assets/img/slide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    margin-top: 20vh;
}
.slide__bar--container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.slide__bar--container h1, .slide__bar--container p {
    text-align: center;
}