.head--title {
    height: 30vh;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .card {
    width: 18rem;
    margin-bottom: 40px;
}

.card img {
    height: 40vh;
}

.item__count--number {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 100%;
}