/* IMG HERO */
.item__list--container {
    background-image: url('../../assets/img/slide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    margin-top: 100px;
}
.item__list--container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}